.venv/
.vscode
.conda
Combined_Deployment
Combined_Deployment_sampling
Combined_Deployment_WallForce
Potential_Field_Based_Placement
Proposed_Approach
environment.yml
Hex+contrain.png
result.py
Results.png
Time_result.png
Time.py
Hexagonal_Grid_Placement/Maps/map22
Hexagonal_Grid_Placement/Maps/map21
Hexagonal_Grid_Placement/Maps/map20
Hexagonal_Grid_Placement/Maps/map19
Hexagonal_Grid_Placement/Maps/map18
Hexagonal_Grid_Placement/Maps/map17
Hexagonal_Grid_Placement/Maps/map16
Hexagonal_Grid_Placement/Maps/map15
Hexagonal_Grid_Placement/Maps/map14
Hexagonal_Grid_Placement/Maps/map13
Hexagonal_Grid_Placement/Maps/map12
Hexagonal_Grid_Placement/Maps/map11
Hexagonal_Grid_Placement/Maps/map10
Hexagonal_Grid_Placement/Maps/map9
Hexagonal_Grid_Placement/Maps/map8
Hexagonal_Grid_Placement/Maps/map7
Hexagonal_Grid_Placement/Maps/map6
Hexagonal_Grid_Placement/Maps/map5
Hexagonal_Grid_Placement/Maps/map4
Hexagonal_Grid_Placement/Maps/map3
Hexagonal_Grid_Placement/Maps/map2
Hexagonal_Grid_Placement/Maps/map1
Newton-Shape_Placement/Results
Newton-Shape_Placement/complete_results.csv

Newton-Shape_Placement/context.txt
Newton-Shape_Placement/Figure_1.png
Newton-Shape_Placement/Figure_2.png
Newton-Shape_Placement/Figure_3.png
Newton-Shape_Placement/Figure_4.png
Newton-Shape_Placement/Figure_5.png

Newton-Shape_Placement/Plot_Varience.py
Newton-Shape_Placement/test_2.py
Newton-Shape_Placement/test.py

Newton-Shape_Placement/union_of_disks.png

Square_Grid_Placement/Square_grid.py
Square_Grid_Placement/Maps/map1
Square_Grid_Placement/Maps/map2
Square_Grid_Placement/Maps/map3
Square_Grid_Placement/Maps/map4
Square_Grid_Placement/Maps/map5
Square_Grid_Placement/Maps/map6
Square_Grid_Placement/Maps/map7
Square_Grid_Placement/Maps/map8
Square_Grid_Placement/Maps/map9
Square_Grid_Placement/Maps/map10
Square_Grid_Placement/Maps/map11
Square_Grid_Placement/Maps/map12
Square_Grid_Placement/Maps/map13
Square_Grid_Placement/Maps/map14
Square_Grid_Placement/Maps/map15
Square_Grid_Placement/Maps/map16
Square_Grid_Placement/Maps/map17
Square_Grid_Placement/Maps/map18
Square_Grid_Placement/Maps/map19
Square_Grid_Placement/Maps/map20
Square_Grid_Placement/Maps/map21
Square_Grid_Placement/Maps/map22




Greedy_Increamental_Self-Deployment/Maps/map1
Greedy_Increamental_Self-Deployment/Maps/map2
Greedy_Increamental_Self-Deployment/Maps/map3
Greedy_Increamental_Self-Deployment/Maps/map4
Greedy_Increamental_Self-Deployment/Maps/map5
Greedy_Increamental_Self-Deployment/Maps/map6
Greedy_Increamental_Self-Deployment/Maps/map7
Greedy_Increamental_Self-Deployment/Maps/map8
Greedy_Increamental_Self-Deployment/Maps/map9
Greedy_Increamental_Self-Deployment/Maps/map10
Greedy_Increamental_Self-Deployment/Maps/map11
Greedy_Increamental_Self-Deployment/Maps/map12
Greedy_Increamental_Self-Deployment/Maps/map13
Greedy_Increamental_Self-Deployment/Maps/map14
Greedy_Increamental_Self-Deployment/Maps/map15
Greedy_Increamental_Self-Deployment/Maps/map16
Greedy_Increamental_Self-Deployment/Maps/map17
Greedy_Increamental_Self-Deployment/Maps/map18
Greedy_Increamental_Self-Deployment/Maps/map19
Greedy_Increamental_Self-Deployment/Maps/map20
Greedy_Increamental_Self-Deployment/Maps/map21
Greedy_Increamental_Self-Deployment/Maps/map22

Greedy_Increamental_Self-Deployment/Greedy_Trial.py
Greedy_Increamental_Self-Deployment/self-deployment.py
